<div id="status">
  <span *ngIf='iquotes.length > 0'>Enjoy Reading or reveal the <span class="badge" (click)="bestQuotechecker()">Best
      Quote</span></span>
  <span *ngIf='iquotes.length === 0'>Quotes Deck is Empty, Please Create Quotes or Reload page to get my
    favourites</span>
  <app-create-quote (addQuote)="addNewQuote($event)"></app-create-quote>
</div>
<div *ngIf='bestQuote && iquotes.length > 0'>
  <div class="well" appHighlightBestQuote>
    <div><em> {{bestQuote}}</em></div>
    <div id="theauthor">~ {{ bestAuthor }}</div>
    <div class="row">
      <div class="col-md-8">
        <div>Submitted By: {{bestUser}} <span id="timeSinceCreated">{{ dateCreated | dateCounter }} days ago</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="ivote">
          <span >
            Upvotes <span class="badge  badge-info" id="mostvotes">{{ mostVotes }}</span>
          </span>
          <span>
            Downvotes <span class="badge badge-danger" id="lowvotes">{{ lowVotes }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor='let iquote of iquotes; let iquoteIndex = index'>
    <div class="well">
      <div>{{ iquote.quote }}</div>
      <div class='mAuthor'>~ <i>{{ iquote.author }}</i></div>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <div>Submitted By: {{ iquote.user}} <span id="timeSinceCreated"> 30 Seconds ago</span></div>
        </div>
        <div class="col-md-4">
          <span>
            <i title="I like this" ng-click="changeVote(vote, 'up')" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"> </i><span id="vcount">0</span>
            <i title="I dislike this" ng-click="changeVote(vote, 'down')" class="fa fa-arrow-circle-down fa-2x"  ng-class="{true:'down', false:''}[vote=='down']"></i><span id="vcount">0</span>
          </span>
          <span id=iEdit><i class="fa fa-info fa-1x" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  <div>
