<div id="status">
  <span *ngIf='iquotes.length > 0'>Enjoy Reading or reveal the <span class="badge" (click)="bestQuotechecker()">Best
      Quote</span></span>
  <span *ngIf='iquotes.length === 0'>Quotes Deck is Empty, Please Create Quotes or Reload page to get my
    favourites</span>
  <app-create-quote (addQuote)="addNewQuote($event)"></app-create-quote>
</div>
<div *ngIf='bestQuote && iquotes.length > 0'>
  <div class="well" appHighlightBestQuote>
    <div><em> {{bestQuote}}</em></div>
    <div id="theauthor">~ {{ bestAuthor }}</div>
    <div class="row">
      <div class="col-md-8">
        <div>Submitted By: {{bestUser}} <span id="timeSinceCreated">{{ dateCreated | dateCounter }} days ago</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="ivote">
          <span >
            Upvotes <span class="badge  badge-info" id="mostvotes">{{ mostVotes }}</span>
          </span>
          <span>
            Downvotes <span class="badge badge-danger" id="lowvotes">{{ lowVotes }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor='let iquote of iquotes; let iquoteIndex = index'>
    <div class="well">
    <div id="{{iquoteIndex}}"><em> {{iquote.quote}}</em></div>
    <div class='mAuthor'>~ {{ iquote.author }}</div>
      <hr>
      <div class="row">
        <div class="col-md-8">
        <div>Submitted By: {{ iquote.user}} <span id="timeSinceCreated">{{ iquote.createdAt | dateCounter }} days
            ago</span></div>
        </div>
        <div class="col-md-4">
        <div id="vote">
          <i title="I like this" (click)="upVote(iquote)" class="fa fa-arrow-circle-up fa-2x"></i><span
            id="vcount">{{ iquote.upvotes }}</span>
          <i title="I dislike this" (click)="downVote(iquote)" class="fa fa-arrow-circle-down fa-2x"></i><span
            id="vcount">{{ iquote.downvotes }}</span>
          <span id=iEdit (click)='deleteQuote($event,iquoteIndex)'><i class="fa fa-trash" aria-hidden="true"></i></span>
        </div>
      </div>
        </div>
      </div>
    </div>
  <div>
