/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 24px;
  color: black
}
.modal-backdrop.fade
{
  opacity: 0.5;
}
.modal-open .modal
{
  opacity: 1;
}
.modal-header{
  margin-top: 40px;
}
